.destination-section {
  padding: 4.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destination-img {
  width: 84%;
}

.destination-img img {
  width: 100%;
}

.destination-content h2 {
  font-family: 'Crimson Text', serif;
  letter-spacing: -1px;
  line-height: 91.7%;
  font-size: 1.875rem;
  color: var(--clr-black);
}

.destination-content p {
  margin: 1.187rem 0;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9375rem;
  color: var(--clr-grey-dark);
}

.destination-btn {
  padding: 11px 17px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.75rem;
  font-weight: bolder;
  color: var(--clr-white);
  border-radius: 100px;
  background-color: var(--clr-blue-dark);
  cursor: pointer;
}

@media (min-width: 48em) {
  .destination-img {
    width: 38rem;
  }
  .destination-content h2 {
    font-size: 2.5rem;
  }
  .destination-content p {
    font-size: 1rem;
  }
}

@media (min-width: 64em) {
  .destination-section {
    flex-direction: row;
    gap: 3.68rem;
  }
  .destination-content h2 {
    font-size: 2.5rem;
  }
  .destination-content {
    width: 40%;
  }
  .destination-btn {
    padding: 11px 25px;
    font-size: 1.125rem;
  }
}

@media (min-width: 75em) {
  .destination-img {
    width: 42.125rem;
  }
  .destination-content h2 {
    font-size: 3.25rem;
  }
}
