.footer-section {
  padding-top: 1.125rem;
  padding-bottom: 3.187rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
  background-color: var(--clr-blue-lighter);
}

.footer-paragraph {
  display: none;
}

.footer-links {
  display: flex;
  gap: 3.5rem;
}

.links-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.links-box h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 0.9375rem;
  font-weight: bold;
}

.links-box a {
  font-family: 'Nunito', sans-serif;
  font-size: 0.75rem;
  color: var(--clr-black);
}

@media (min-width: 48em) {
  .footer-section {
    flex-direction: row;
    gap: 8rem;
  }
  .footer-logo {
    width: 250px;
  }
  .footer-paragraph {
    margin-top: 10px;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--clr-grey-dark);
  }
  .footer-links {
    gap: 5rem;
  }

  .links-box h3 {
    font-size: 1.2rem;
  }

  .links-box a {
    font-size: 0.9375rem;
  }
}

@media (min-width: 75em) {
  .footer-section {
    gap: 8.7125rem;
  }
  .footer-links {
    gap: 11.18rem;
  }
}
