.header-container {
  position: fixed;
  height: 3rem;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-background);
  z-index: 10;
}

/* === Mobile Nav === */
.mobile-menu {
  cursor: pointer;
}

.logo {
  width: 140px;
}

.open-menu {
  width: 23px;
  transition: all 0.2s linear;
}

.close-menu {
  width: 23px;
  transition: all 0.2s linear;
  transform: rotate(90deg);
}

.mobile-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: var(--clr-background);
}

.nav-links {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: var(--clr-grey-light);
}

.nav-links:hover {
  color: var(--clr-orange);
}

.nav-btn {
  padding: 10px 34px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 100px;
  background-color: var(--clr-orange);
  box-shadow: 0px 5px 8px 0px rgba(251, 182, 103, 0.58);
  transition: all 0.3 linear;
  cursor: pointer;
}

.nav-btn a {
  color: var(--clr-white);
}

.nav-btn:hover {
  background-color: #d88b33;
}

.desk-nav {
  display: none;
}

.desk-btn {
  display: none;
}

@media (min-width: 48em) {
  .mobile-menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .desk-nav {
    display: flex;
    gap: 1.5rem;
  }
  .desk-btn {
    display: block;
  }
}

@media (min-width: 64em) {
  .header-container {
    height: 4rem;
  }
  .logo {
    width: 153px;
  }
  .nav-links,
  .nav-btn {
    font-size: 1.125rem;
  }
  .desk-nav {
    gap: 3rem;
  }
}
